@font-face {
  font-family: 'menu';
  src:  url('menu.eot?v0m4yv');
  src:  url('menu.eot?v0m4yv#iefix') format('embedded-opentype'),
    url('menu.ttf?v0m4yv') format('truetype'),
    url('menu.woff?v0m4yv') format('woff'),
    url('menu.svg?v0m4yv#menu') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'menu' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cerrar:before {
  content: "\ea0f";
}
.icon-buscador:before {
  content: "\f002";
}
.icon-facebook:before {
  content: "\e900";
  color: #1877f2;
}
.icon-menu:before {
  content: "\e901";
  color: #738a94;
}
.icon-instagram:before {
  content: "\e902";
  color: #e4405f;
}
.icon-twitter:before {
  content: "\e903";
  color: #1da1f2;
}
.icon-youtube:before {
  content: "\e904";
  color: #f00;
}
